{% extends 'base.html' %} {% block content %}

<h1>{{collection.name}}</h1>

<ul>
  {% for game in collection.games %}
  <li><a href="/game_detail/{{game.id}}">{{game.title}}</a></li>
  {% endfor %}
</ul>

{% if current_user.is_authenticated %}
<form
  method="POST"
  action="{{url_for('main.collection_detail', collection_id=collection.id)}}"
>
  {{form.csrf_token}}
  <fieldset>
    <legend>Edit this collection's name</legend>
    {{form.name.label}} {{form.name}} {{form.submit}}
  </fieldset>
</form>
{% endif %} {% endblock %}
